<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://b2b.polami.eu/note_styles.css">
    <title>Rodzic</title>
</head>
<body>
    <h2>Witaj Rodzicu!!</h2>
    <br>
    <a href="/logout">Wyloguj się!</a>
    <div class="adminPage">
    <a href="/admin/addpupil">Zrób dziecko!</a> <br>
    <a href="/admin/addsubject">Dodaj przedmiot!</a> <br>
    <a href="/admin/addachievement">Dodaj ocenę!</a> <br>
    <a href="/user">Statystyki</a> <br>
    </div>
</body>
</html>