<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://b2b.polami.eu/note_styles.css">
    <title>Oceny</title>
</head>
<body>
    <h1 th:text="${pupil.name}+' - oceny:'"></h1>
    <br>
    <a href="\user">Wróć</a>
    <br>
    <div class="pupilPage" th:each="subject: ${subjects}">
        <h2 th:text="${subject.name}+':'"></h2>
        <br>
        <table>
            <tr>
                <th>Ocena</th>
                <th>Data wpisu</th>
            </tr>
            <tr th:each="achievement:${achievements}" th:if="${achievement.idSubject} == ${subject.id}">
                <td th:text="${achievement.note}"></td>
                <td th:text="${#dates.format(achievement.date, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
        </table>
        <br>
    </div>

</body>
</html>